.btn {
  border: none;
  border-radius: .5rem;
  padding: 1.5rem 4rem;
  font-size: 1.4rem;
  letter-spacing: 1;
  font-weight: 450;
  font-family: inherit;
  transform: translateY(0);
  cursor: pointer;
  box-shadow: 0 .3rem .6rem 0 var(--shadow-alpha-six);
  transition: all .2s ease-in-out;

  &:focus,
  &:hover {
    transform: translateY(-.1rem);
  }

  &:active {
    box-shadow: 0 .4rem .3rem 0 var(--shadow-alpha-six);
    transform: translateY(.5rem);
  }

  &-purple {
    gap: 0 0.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1;
    margin: 2rem 0;
    background: linear-gradient(360deg, var(--purple-primary), var(--purple-primary-alpha-four));
    box-shadow: .5rem 0 1rem 0 var(--purple-primary-alpha-four), 0 .5rem 1rem .1rem var(--purple-primary-alpha-four) !important;

    &:hover,
    &:focus {
      box-shadow: .5rem 0 1rem 0 var(--purple-primary-alpha-four), 0 .5rem 1rem .1rem var(--purple-primary-alpha-four) !important;
    }
  }

  &-grey-animated {
    padding: 1.6rem;
    border: none;
    background-color: hsla(269, 55%, 96%, 1);
    color: #000;
    font-weight: 400;
    letter-spacing: 1;
    font-size: 1.6rem;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    box-shadow: inset 0 0 0 0 var(--purple-primary-alpha-nine);
  }

  &-light-blue {
    background: none;
    border: 2px solid var(--blue-primary-alpha-five);
    color: var(--blue-primary);
    font-size: 1.5rem !important;

    &:hover,
    &:focus {
      background: var(--blue-primary-alpha-three);
    }
  }

  &-edit {
    background: none;
    border: 2px solid var(--btn-green);
    color: var(--btn-green-font);

    &:hover,
    &:focus {
      background: var(--btn-green-alpha-five);
    }
  }

  &-delete {
    background: none;
    border: 2px solid var(--error);
    color: red;

    &:hover,
    &:focus {
      background: var(--error);
    }
  }
}