.nav__container {
  &__btn>button {
    background: none;
    border: none;

    @include respon(m-desktop) {
      display: none;
    }

    &>svg {
      width: 3.5rem;
      height: 3.5rem;
      fill: var(--purple-primary);
    }
  }
}

.navbar {
  position: fixed;
  z-index: 5;
  top: 0;
  right: -100%;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  font-size: 1.5rem;
  transition: all 300ms ease-in-out;
  background: linear-gradient(135deg, var(--bg-secondary), var(--bg-primary));
  box-shadow: 0px .1rem 1.5rem .2rem var(--shadow-alpha-six);

  @include respon(m-desktop) {
    position: static;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    background: none;
    box-shadow: none;
    margin-top: 2rem;
  }

  //open on click 
  &.open {
    right: 0;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  &>ul {
    list-style: none;
    padding: 0 0 0 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 50vw;

    @include respon(m-desktop) {
      column-gap: .8rem;
      flex-direction: row;
      width: auto;
    }

    &>li {
      display: flex;
      align-items: center;
      width: fit-content;
      position: relative;
      margin-top: 1rem;
      flex-shrink: 0;

      @include respon(m-desktop) {
        &>span {
          display: flex;
        }
      }

      & svg {
        width: 0px;
        height: 0px;
        opacity: 0;
        pointer-events: none;
        transition: all 400ms ease-in-out;
        fill: var(--border-primary);
      }

      &:hover svg,
      &.active svg {
        opacity: 1;
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;

        @include respon(m-desktop) {
          margin-right: 0;
        }
      }

      &::before {
        content: "";
        position: absolute;
        left: .1rem;
        right: 0;
        bottom: -.1rem;
        border-bottom: 4px solid var(--border-primary);
        border-radius: 1rem;
        transition: 300ms ease-in;
        transition-delay: 100ms;
        opacity: 0;
      }

      &:hover::before,
      &.active::before {
        transition: 300ms ease-in;
        opacity: 1;
      }

      & svg #invest-wallet {
        stroke: var(--purple-primary);
        stroke-width: 1rem;
      }
    }
  }
}

//for mob version
.user-profile-container {
  &_mob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 1.6rem;
  }

  &_username {
    font-weight: 600;
    color: var(--font-primary);
    margin-right: 1rem;
    font-size: 1.2rem;
    align-self: end;
  }

  &_profile {
    padding: .5rem;
    border-radius: 100px;
    background: #fff;
    display: grid;
    place-items: center;
    filter: drop-shadow(0px 0px 10px var(--light-shadow-white));
  }

  @include respon(m-desktop) {
    display: none;
  }
}