.u-letter-spacing-sm {
  letter-spacing: .1rem !important;
}

.u-margin-bottom-sm {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 4rem !important;
}

.sm-svg {
  width: 2rem;
  height: 2rem;
}

.md-svg {
  width: 3rem;
  height: 3rem;
}

.lg-svg {
  width: 4rem;
  height: 4rem;
}

.press-btn {
  transform: translateY(.5rem) !important;
}

.dp {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  object-fit: cover;
}

.u-LineBar {
  display: flex;
  background: var(--bg-secondary);
  grid-column: span 2;
  justify-content: space-between;
  border-radius: 0.3rem;
  box-shadow: .1rem .1rem 5px 0 var(--shadow-alpha-three);
  padding-inline: 1.8rem;


  &>* {
    text-transform: capitalize;
  }
}

u-margin-bottom {
  margin-bottom: 5rem;
}

.hidden {
  display: none;
}