:root {
  /*Primary Values*/
  --bg-primary: hsla(221, 93%, 89%, 1);
  --bg-primary-second: var(--bg-primary);
  --purple-primary: hsla(258, 91%, 63%, 1);
  --silver-primary: hsla(202, 5%, 95%, 1);
  --blue-primary: hsla(215, 98%, 55%, 1);
  --cyan-primary: hsla(191, 91%, 48%, 1);
  --bg-footer: rgba(0, 0, 0, .1);
  --color-SM: hsla(203, 22%, 42%, 1);

  --btn-green: hsla(133, 100%, 85%, 1);
  --btn-green-font: hsla(133, 90%, 24%, 1);

  /*Secondary Values*/
  --bg-secondary: #fff;
  --blue-secondary: hsla(215, 98%, 55%, 1);

  /*light values*/
  --bg-primary-alpha-five: hsla(221, 93%, 89%, 0.5);
  --bg-primary-alpha-six: hsla(221, 93%, 89%, 0.6);
  --bg-primary-alpha-seven: hsla(221, 93%, 89%, 0.7);
  --bg-primary-alpha-eight: hsla(221, 93%, 89%, 0.8);

  --btn-green-alpha-five: hsla(133, 80%, 90%, .5);

  --purple-primary-alpha-two: hsla(258, 91%, 63%, 0.2);
  --purple-primary-alpha-three: hsla(258, 91%, 63%, 0.3);
  --purple-primary-alpha-four: hsla(258, 91%, 63%, 0.4);
  --purple-primary-alpha-five: hsla(258, 91%, 63%, 0.5);
  --purple-primary-alpha-seven: hsla(258, 91%, 63%, 0.7);
  --purple-primary-alpha-nine: hsla(258, 91%, 63%, 0.9);

  --dark-purple-alpha-three: rgba(75, 38, 105, 0.3);

  --shadow-alpha-three: rgba(200, 200, 200, 0.3);
  --shadow-alpha-five: rgba(200, 200, 200, 0.5);
  --shadow-alpha-six: rgba(200, 200, 200, 0.6);

  --dark-bg-primary-alpha-eight: hsla(221, 60%, 70%, 0.8);

  --blue-primary-alpha-three: hsla(215, 98%, 55%, 0.3);
  --blue-primary-alpha-five: hsla(215, 98%, 55%, 0.5);

  --blue-secondary-alpha-four: hsla(215, 98%, 55%, 0.4);
  --blue-secondary-alpha-seven: hsla(215, 98%, 55%, 0.7);

  --cyan-primary-alpha-three: hsla(191, 91%, 48%, 0.3);
  --cyan-primary-alpha-four: hsla(191, 91%, 48%, 0.4);
  --cyan-primary-alpha-five: hsla(191, 91%, 48%, 0.5);
  --cyan-primary-alpha-seven: hsla(191, 91%, 48%, 0.7);

  /*primary dark values*/
  --dark-silver-primary: hsla(202, 5%, 60%, 1);
  --dark-bg-primary-color: hsla(221, 60%, 70%, 1);
  --dark-purple: rgba(128, 73, 169, 1);

  /*secondary dark values*/
  --dark-silver-alpha-eight: hsla(202, 5%, 60%, 0.8);

  /*Least used values*/
  --white-bg: #fff;
  --nav-bg: rgba(255, 255, 255, 0.9);
  --border-primary: hsl(258, 91%, 63%);
  --layer-one: --bg-primary;
  --layer-two-shadow: hsla(221, 93%, 89%, 1);
  --input-bg: #fff;

  /* RGBA COLOR VALUES*/
  --light-shadow-white: rgba(200, 200, 200, 1);

  /*black shadows*/
  --shadow: rgba(200, 200, 200, 1);

  /*Font Color*/
  --font-primary: #000;
  --grey-light: #999;
  --error: hsla(0, 100%, 78%, .6);
  --success: hsla(134, 45%, 84%, 1);
}

/*Values for calc function*/
$second-layer-left: -5%;
$second-layer-top: .3rem;

$border-top-left-radius: 4rem;
$BR-logo: 100px;

$default-font-size: 1.6rem;
$section-min-height: 100vh;